<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  <title>Movie Site: Movies</title>
</head>
<body>
<a href="/m"> <input type="button" id="btn1" class="buttonB" value="Return"></a>
  <table class="center">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Lang</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td th:text="${id}"></td>
      <td th:text="${mov.get().tittle}"></td>
      <td th:text="${mov.get().language}"></td>
      <td th:text="${mov.get().rate}"></td>
    </tr>
  </table>


</body>
</html>