<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <title>Movie Site: Authors</title>
</head>
<body>
<a href="/"> <input type="button" id="btn0" class="buttonA" value="Return" ></a>
<input type="button" id="btn1" class="buttonB" value="Find all authors">
<input type="button" id="btn2" class="buttonA" value="Find author by id">
<input type="button" id="btn3" class="buttonB" value="Find author all movies (by author id)">
<input type="button" id="btn4" class="buttonA" value="Show author movies average rating">
<input type="button" id="btn5" class="buttonB" value="Find all movies with rating lower than">
<input type="button" id="btn6" class="buttonA" value="Delete author by id">
<input type="button" id="btn7" class="buttonB" value="Delete all authors">


</body>
</html>