<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <title>Movie Site</title>
</head>
<body class="body">

<div class="center">
    <h1> Movie Site</h1>

    <a href="/m"> <input type="button" id="btn1" class="buttonB" value="Movies"></a>
    <a href="/a"> <input type="button" id="btn2" class="buttonA" value="Authors"></a>

</div>
</body>

</html>